@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
* {
  font-family: "PT Sans", sans-serif;
  color: white;
}

.header .header__groups .header__btn:focus {
  height: 70px;
  box-shadow: 0 0 0 4px #ffffff inset;
  transition: all 0.2s;
}

.header {
  display: flex;
  justify-content: center;
  background-color: black;
  font-weight: 700;
  line-height: 140%;
  padding: 0 40px;
  width: 100%;
}
.header .header__groups {
  display: flex;
  justify-content: space-between;
  width: 940px;
}
.header .header__groups .header__btn {
  position: relative;
  box-sizing: border-box;
  background-color: black;
  font-family: "PT Sans Narrow";
  padding: 24px 20px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: uppercase;
  transition: all 0.5s;
}
.header .header__groups .header__btn:hover {
  background: var(--basic-dark, #595959);
  transition: all 0.5s;
}
.header .header__groups .header__btn:active::after {
  position: absolute;
  content: " ";
  background-color: white;
  width: 75%;
  height: 4px;
  flex-shrink: 0;
  bottom: 0;
  left: 12.5%;
  transition: all 0.5s;
}
.header .header__groups .header__group-1 {
  display: flex;
  justify-content: center;
  display: flex;
  margin: 0 -5px;
}
.header .header__groups .header__group-1 .header__btn .box {
  display: flex;
  margin: 0 -5px;
}
.header .header__groups .header__group-1 .header__btn .item {
  flex: 1 1 auto;
  margin: 0 5px;
}
.header .header__groups .header__group-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__groups .header__group-2 .btn-enter {
  background-image: url("../pictures/icons/login.svg");
  background-position-x: 20px;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-left: 44px;
}
.header .header__groups .header__group-2 .btn-find {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__groups .header__group-2 .header__basket {
  position: relative;
}
.header .header__groups .header__group-2 .header__basket .btn-basket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__groups .header__group-2 .header__basket .basket__goods-number {
  color: #fff;
  font-family: "PT Sans Narrow";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: uppercase;
  padding-left: 8px;
}
.header .header__groups .header__group-2 .header__basket .basket__popover {
  position: absolute;
  background-color: white;
  right: 0px;
  top: 0px;
  width: 420px;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.header .header__groups .header__group-2 .header__basket .basket__popover .popover__content {
  padding: 40px;
}
.header .header__groups .header__group-2 .header__basket .basket__popover .popover__content .close-popover {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 24px 20px;
  background-color: white;
}
.header .header__groups .header__group-2 .header__basket .basket__popover .popover__content .close-popover .close-popover__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__groups .header__group-2 .header__basket .basket__popover .popover__content .close-popover .close-popover__btn p {
  color: black;
}
.header .header__groups .header__group-2 .header__basket .basket__popover .basket-popover__title {
  color: var(--basic-black, #000);
  font-family: "PT Sans Narrow";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;
  margin-bottom: 24px;
}
.header .header__groups .header__group-2 .header__basket .basket__popover .basket-popover__good-wrapper {
  border-bottom: 2px dotted #bdbdbd;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.header .header__groups .header__group-2 .header__basket .basket__popover .basket-popover__good-wrapper .basket-popover__good-info {
  height: 76px;
}
.header .header__groups .header__group-2 .header__basket .basket__popover .basket-popover__good-wrapper .basket-popover__good-info h3 {
  color: var(--basic-extra-dark, #242424);
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
}
.header .header__groups .header__group-2 .header__basket .basket__popover .basket-popover__good-wrapper .basket-popover__good-info p {
  color: var(--special-neutral, #af7842);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.header .header__groups .header__group-2 .header__basket .basket__popover .basket-popover__good-wrapper .basket-popover__delete-btn {
  cursor: pointer;
  height: 44px;
  width: auto;
  padding: 20px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__groups .header__group-2 .header__basket .basket__popover .basket-popover__good-wrapper .basket-popover__delete-btn button {
  background-color: #000;
}
.header .header__groups .header__group-2 .header__basket .basket__popover.open {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.footer-right .footer-right__title, .footer-middle .footer-middle__title {
  color: var(--basic-white, #fff);
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 100%;
  height: 242px;
  flex-shrink: 0;
  background: rgb(36, 36, 36);
}
.footer .footer__wrapper {
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.footer-left .footer-left__short-logo {
  padding-bottom: 24px;
}
.footer-left .footer-left__paragraph {
  color: var(--basic-white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  padding-bottom: 0;
  width: 210px;
  border: none;
}
.footer-left .footer-left__phone {
  color: var(--basic-white, #fff);
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  text-decoration-line: underline;
  text-transform: uppercase;
  padding-bottom: 16px;
}
.footer-left .footer-left__link {
  color: var(--basic-white, #fff);
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.footer-middle {
  text-align: center;
}
.footer-middle .footer-middle__title {
  padding-bottom: 14px;
}
.footer-middle .footer__form {
  display: inline-flex;
}
.footer-middle .footer-middle__email-form {
  box-sizing: border-box;
  border: 2px solid #000;
  width: 223px;
  height: 44px;
  flex-shrink: 0;
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}
.footer-middle .submit-email-btn {
  background-color: black;
  display: inline-flex;
  height: 44px;
  padding: 14px 20px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}

.footer-right .footer-right__title {
  padding-bottom: 14px;
}
.footer-right .btn-sotial-media {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: #000000;
  margin-bottom: 53px;
}
.footer-right .btn-sotial-media p {
  color: var(--basic-white, #ffffff);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  padding: 10px;
}
.footer-right .btn-sotial-media img {
  width: 44px;
}
.footer-right .footer-right__signature {
  font-size: 14px;
}
.footer-right .creator {
  font-weight: 700;
  color: #cc8742;
}

.popup__form-2, .popup__form-1 {
  border: 2px solid var(--basic-extra-dark, #242424);
  width: 360px;
  height: 44px;
  color: var(--basic-neutral, #424242);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  z-index: 2;
  padding: 10px 16px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotate(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotate(10deg);
}

.popup__close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
}

.popup__title {
  color: var(--basic-black, #000);
  font-family: "PT Sans Narrow";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;
  margin-bottom: 24px;
}

.popup__box-1 {
  margin-bottom: 16px;
}

.popup__form-1 {
  margin-bottom: 16px;
}

.popup__box-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.check {
  color: black;
  padding-left: 36px;
  position: relative;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.check__box {
  top: -2px;
  margin-left: -36px;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-extra-dark, #242424);
}

.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00008 9.41421L11.543 12.9571L12.9572 11.5429L9.41429 8L12.9572 4.45711L11.543 3.04289L8.00008 6.58579L4.45718 3.04289L3.04297 4.45711L6.58586 8L3.04297 11.5429L4.45718 12.9571L8.00008 9.41421Z' fill='%23242424'/%3E%3C/svg%3E");
}

.check__input:focus + .check__box {
  border: 2px solid var(--special-neutral, #af7842);
}

.check__input:checked:focus + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00008 9.41421L11.543 12.9571L12.9572 11.5429L9.41429 8L12.9572 4.45711L11.543 3.04289L8.00008 6.58579L4.45718 3.04289L3.04297 4.45711L6.58586 8L3.04297 11.5429L4.45718 12.9571L8.00008 9.41421Z' fill='%23242424'/%3E%3C/svg%3E");
  border: 2px solid var(--special-neutral, #af7842);
}

.check__input:disabled + .check__box {
  border: 2px solid var(--special-neutral, #ffffff);
}

.check__input:checked:disabled + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00008 9.41421L11.543 12.9571L12.9572 11.5429L9.41429 8L12.9572 4.45711L11.543 3.04289L8.00008 6.58579L4.45718 3.04289L3.04297 4.45711L6.58586 8L3.04297 11.5429L4.45718 12.9571L8.00008 9.41421Z' fill='%23242424'/%3E%3C/svg%3E");
  border: 2px solid var(--special-neutral, #ffffff);
}

.foggot-password {
  color: var(--basic-black, #000);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  text-decoration-line: underline;
}

.popup-btn-enter {
  display: flex;
  width: 360px;
  background: var(--basic-black, #000);
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
  margin-bottom: 16px;
}

.popup-btn-registration {
  display: flex;
  width: 360px;
  background: #fff;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  color: var(--basic-extra-dark, #242424);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}

.main .main__information .appointment__form .full-form__name, .main .main__information .appointment__form .full-form__phone, .main .main__information .appointment__form .full-form__time, .main .main__information .appointment__form .full-form__date {
  display: flex;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

body {
  background-color: #000;
}

body.lock {
  overflow: hidden;
}

.main {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 48%, rgba(48, 48, 48, 0.8) 100%) no-repeat;
}
.main .main__background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%; /* Need a specific value to work */
  filter: grayscale(100%);
  z-index: -1;
}
.main .main__greeting {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  text-align: center;
}
.main .main__greeting .greeting__logo {
  grid-area: logo;
}
.main .main__greeting .greeting__logo .logo-img {
  margin-top: 64px;
}
.main .main__greeting .greeting__labels {
  margin-top: 64px;
  display: flex;
  justify-content: space-around;
}
.main .main__greeting .label-block {
  width: 277px;
}
.main .main__greeting .label-title {
  color: #fff;
  text-align: center;
  font-family: "PT Sans Narrow";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;
}
.main .main__greeting .label-img {
  padding: 16px 0;
}
.main .main__greeting .label-paragraph {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.main .main-block-title {
  color: var(--basic-extra-dark, #242424);
  font-family: "PT Sans Narrow";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;
  padding-bottom: 28px;
}
.main .main__servises {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  height: 409px;
  margin-top: 58px;
  background-color: #fff;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.main .main__servises .servises__popular-servises {
  margin: 40px;
}
.main .main__servises .servises__popular-servises .popular-servises__list li {
  color: black;
  color: var(--basic-extra-dark, #242424);
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
  padding-bottom: 22px;
}
.main .main__servises .servises__popular-servises .popular-servises__check-all-btn {
  display: flex;
  height: 44px;
  padding: 14px 20px;
  align-items: start;
  gap: 8px;
  flex-shrink: 0;
  background: var(--basic-black, #000);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
  margin-top: 10px;
  transition: all 0.2s;
}
.main .main__servises .servises__popular-servises .popular-servises__check-all-btn:hover {
  background-color: #814b18;
  transition: all 0.2s;
}
.main .main__servises .servises__popular-servises .popular-servises__check-all-btn:focus {
  background-color: #814b18;
  border: 2px solid #dbb590;
  transition: all 0.2s;
}
.main .main__servises .servises__popular-servises .popular-servises__check-all-btn:disabled {
  background-color: #595959;
  color: rgb(231, 231, 231);
  transition: all 0.2s;
}
.main .main__servises .servises__gallery {
  display: inline;
  margin: 40px;
  z-index: 0;
}
.main .main__servises .servises__gallery .swiper-container {
  width: 400px;
  overflow: hidden;
  position: relative;
}
.main .main__servises .servises__gallery .gallery__img {
  max-width: 390px;
  margin-bottom: 36px;
}
.main .main__information {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  height: 431px;
  margin-top: 31px;
  background-color: #fff;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-bottom: 61px;
}
.main .main__information .information__contacts {
  margin: 40px;
}
.main .main__information .information__contacts .contacts__subtitle {
  color: var(--special-neutral, #af7842);
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
}
.main .main__information .contacts__block-1 {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 22px;
}
.main .main__information .contacts__block-1 .contacts__title {
  padding-bottom: 24px;
}
.main .main__information .contacts__block-1 .contacts__info {
  color: var(--basic-extra-dark, #242424);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.main .main__information .contacts__block-1 .contacts__phone-number {
  color: var(--basic-extra-dark, #242424);
  font-family: "PT Sans Narrow";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  text-decoration-line: underline;
  text-transform: uppercase;
}
.main .main__information .contacts__block-1 .contacts__phone-number {
  cursor: pointer;
  position: relative;
}
.main .main__information .contacts__block-2 .contacts__time-of-working {
  color: var(--basic-extra-dark, #242424);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.main .main__information .contacts__block-2 .block-2__btns {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.main .main__information .contacts__block-2 .contacts__route {
  display: inline-flex;
  height: 44px;
  padding: 14px 20px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  margin-top: 21px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}
.main .main__information .contacts__block-2 .contacts__feedback {
  height: 44px;
  padding: 14px 20px;
  align-items: flex-start;
  gap: 8px;
  background-color: white;
  color: var(--basic-extra-dark, #242424);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}
.main .main__information .contacts__block-2 .contacts__feedback:hover {
  background-color: rgb(219, 181, 144);
  transition: all 0.2s;
}
.main .main__information .contacts__block-2 .contacts__feedback:focus {
  background-color: rgb(219, 181, 144);
  border: 2px solid rgb(175, 120, 66);
  transition: all 0.2s;
}
.main .main__information .contacts__block-2 .contacts__feedback:disabled {
  background-color: #595959;
  color: rgb(231, 231, 231);
  transition: all 0.2s;
}
.main .main__information .information__appointment {
  margin: 40px;
}
.main .main__information .appointment__paragraph {
  color: var(--basic-dark, #595959);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  padding-bottom: 24px;
}
.main .main__information .appointment__form .full-form__label {
  position: relative;
  display: flex;
  height: 22px;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;
  cursor: pointer;
}
.main .main__information .appointment__form .full-form__input {
  font-size: 15px;
  border: 2px solid var(--spcial-light, #000000);
  color: var(--basic-neutral, #000000);
  padding: 10px 10px;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}
.main .main__information .appointment__form .full-form__input:hover {
  border: 2px solid var(--spcial-light, #dbb590);
  transition: all 0.2s;
}
.main .main__information .appointment__form .full-form__input:focus {
  border: 2px solid var(--special-light, #dbb590);
  transition: all 0.2s;
}
.main .main__information .appointment__form .full-form__input.error {
  border: 2px solid var(--status-error, #ea5454);
  transition: all 0.2s;
}
.main .main__information .appointment__form .full-form__input.error:hover {
  border: 2px solid var(--special-light, #dbb590);
  transition: all 0.2s;
}
.main .main__information .appointment__form .label__text {
  color: var(--basic-extra-dark, #242424);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: uppercase;
  cursor: text;
}
.main .main__information .appointment__form .label__img-div {
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  background-image: url(/pictures/icons/info.svg);
}
.main .main__information .appointment__form .label__img-div:hover {
  background-image: url(/pictures/icons/info-hover.svg);
}
.main .main__information .appointment__form .label__img-div::after {
  position: absolute;
  content: "Укажите желаемую дату и время и мы свяжемся с вами для подтверждения брони";
  display: none;
  width: 0;
  height: 0;
}
.main .main__information .appointment__form .label__img-div:hover::after {
  padding: 5px;
  border: 8px solid black;
  border-radius: 8px;
  text-transform: none;
  content: "Укажите желаемую дату и время и мы свяжемся с вами для подтверждения брони";
  width: 220px;
  height: auto;
  background-color: #000;
  color: var(--basic-white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  display: block;
  left: 0;
  top: -80px;
}
.main .main__information .appointment__form .top-form {
  width: 100%;
  display: inline-flex;
  align-items: flex-start;
  gap: 17px;
}
.main .main__information .appointment__form .full-form__date {
  width: 114px;
}
.main .main__information .appointment__form .full-form__time {
  width: 74px;
}
.main .main__information .appointment__form .full-form__phone {
  width: 179px;
}
.main .main__information .appointment__form .bottom-form {
  margin-top: 7px;
}
.main .main__information .appointment__form .full-form__name {
  width: 390px;
}
.main .main__information .appointment__form .full-form__subscribe {
  display: inline-flex;
  height: 44px;
  padding: 14px 20px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  margin-top: 21px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}
.main .main__information .main-btn-type-1 {
  transition: all 0.2s;
}
.main .main__information .main-btn-type-1:hover {
  background-color: #814b18;
  transition: all 0.2s;
}
.main .main__information .main-btn-type-1:focus {
  background-color: #814b18;
  border: 2px solid #dbb590;
  transition: all 0.2s;
}
.main .main__information .main-btn-type-1:disabled {
  background-color: #595959;
  color: rgb(231, 231, 231);
  transition: all 0.2s;
}