@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
* {
  font-family: "PT Sans", sans-serif;
  color: white;
}

.header__btn:focus {
  height: 70px;
  box-shadow: 0 0 0 4px #ffffff inset;
  transition: all 0.2s;
}

.header {
  display: flex;
  justify-content: center;
  background-color: black;
  font-weight: 700;
  line-height: 140%;
  padding: 0 40px;
  width: 100%;
}

.header__groups {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.btn-main {
  margin-right: 100px;
}

.header__btn {
  position: relative;
  box-sizing: border-box;
  background-color: black;
  font-family: "PT Sans Narrow";
  padding: 24px 20px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: uppercase;
  transition: all 0.5s;
}

.header__btn:hover {
  background: var(--basic-dark, #595959);
  transition: all 0.5s;
}

.header__btn:active::after {
  position: absolute;
  content: " ";
  background-color: white;
  width: 75%;
  height: 4px;
  flex-shrink: 0;
  bottom: 0;
  left: 12.5%;
  transition: all 0.5s;
}

.header__navigation {
  display: flex;
  justify-content: center;
  display: flex;
  margin: 0 -5px;
}
.header__navigation .header__btn .box {
  display: flex;
  margin: 0 -5px;
}
.header__navigation .header__btn .item {
  flex: 1 1 auto;
  margin: 0 5px;
}

.header__group-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__group-2 .btn-enter {
  background-image: url("../pictures/icons/login.svg");
  background-position-x: 20px;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-left: 44px;
}
.header__group-2 .btn-find {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__group-2 .header__basket {
  position: relative;
}
.header__group-2 .header__basket .btn-basket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__group-2 .header__basket .basket__goods-number {
  color: #fff;
  font-family: "PT Sans Narrow";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: uppercase;
  padding-left: 8px;
}
.header__group-2 .header__basket .basket__popover {
  position: absolute;
  background-color: white;
  right: 0px;
  top: 0px;
  width: 420px;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  z-index: 1;
}
.header__group-2 .header__basket .basket__popover .popover__content {
  padding: 40px;
}
.header__group-2 .header__basket .basket__popover .popover__content .close-popover {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 24px 20px;
  background-color: white;
}
.header__group-2 .header__basket .basket__popover .popover__content .close-popover .close-popover__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__group-2 .header__basket .basket__popover .popover__content .close-popover .close-popover__btn p {
  color: black;
}
.header__group-2 .header__basket .basket__popover .basket-popover__title {
  color: var(--basic-black, #000);
  font-family: "PT Sans Narrow";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;
  margin-bottom: 24px;
}
.header__group-2 .header__basket .basket__popover .basket-popover__good-wrapper {
  border-bottom: 2px dotted #bdbdbd;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.header__group-2 .header__basket .basket__popover .basket-popover__good-wrapper .basket-popover__good-info {
  height: 76px;
}
.header__group-2 .header__basket .basket__popover .basket-popover__good-wrapper .basket-popover__good-info h3 {
  color: var(--basic-extra-dark, #242424);
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
}
.header__group-2 .header__basket .basket__popover .basket-popover__good-wrapper .basket-popover__good-info p {
  color: var(--special-neutral, #af7842);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.header__group-2 .header__basket .basket__popover .basket-popover__good-wrapper .basket-popover__delete-btn {
  cursor: pointer;
  height: 44px;
  width: auto;
  padding: 20px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__group-2 .header__basket .basket__popover .basket-popover__good-wrapper .basket-popover__delete-btn button {
  background-color: #000;
}
.header__group-2 .header__basket .basket__popover.open {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.footer-right .footer-right__title, .footer-middle .footer-middle__title {
  color: var(--basic-white, #fff);
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 100%;
  height: 242px;
  flex-shrink: 0;
  background: rgb(36, 36, 36);
}
.footer .footer__wrapper {
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.footer-left .footer-left__short-logo {
  padding-bottom: 24px;
}
.footer-left .footer-left__paragraph {
  color: var(--basic-white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  padding-bottom: 0;
  width: 210px;
  border: none;
}
.footer-left .footer-left__phone {
  color: var(--basic-white, #fff);
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  text-decoration-line: underline;
  text-transform: uppercase;
  padding-bottom: 16px;
}
.footer-left .footer-left__link {
  color: var(--basic-white, #fff);
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.footer-middle {
  text-align: center;
}
.footer-middle .footer-middle__title {
  padding-bottom: 14px;
}
.footer-middle .footer__form {
  display: inline-flex;
}
.footer-middle .footer-middle__email-form {
  box-sizing: border-box;
  border: 2px solid #000;
  width: 223px;
  height: 44px;
  flex-shrink: 0;
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}
.footer-middle .submit-email-btn {
  background-color: black;
  display: inline-flex;
  height: 44px;
  padding: 14px 20px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}

.footer-right .footer-right__title {
  padding-bottom: 14px;
}
.footer-right .btn-sotial-media {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: #000000;
  margin-bottom: 53px;
}
.footer-right .btn-sotial-media p {
  color: var(--basic-white, #ffffff);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  padding: 10px;
}
.footer-right .btn-sotial-media img {
  width: 44px;
}
.footer-right .footer-right__signature {
  font-size: 14px;
}
.footer-right .creator {
  font-weight: 700;
  color: #cc8742;
}

.popup__form-2, .popup__form-1 {
  border: 2px solid #242424;
  width: 360px;
  height: 44px;
  color: #424242;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  padding: 10px 16px;
  transition: all 0.2s;
}

.popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotate(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotate(10deg);
}

.popup__close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
}

.popup__title {
  color: var(--basic-black, #000);
  font-family: "PT Sans Narrow";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;
  margin-bottom: 24px;
}

.popup__box-1 {
  margin-bottom: 16px;
}

.popup__form-1 {
  margin-bottom: 16px;
}

.full-form__input:hover {
  border: 2px solid rgb(175, 120, 66);
  transition: all 0.2s;
}

.full-form__input:focus {
  border: 2px solid rgb(175, 120, 66);
  box-shadow: 0px 0px 0px 2px rgb(219, 181, 144);
  transition: all 0.2s;
}

.full-form__input:disabled {
  background-color: rgb(231, 231, 231);
  border: 2px solid rgb(89, 89, 89);
  transition: all 0.2s;
}

.full-form__input:disabled:hover {
  background-color: rgb(231, 231, 231);
  border: 2px solid rgb(89, 89, 89);
}

.full-form__input.error {
  border: 2px solid var(--status-error, #ea5454);
  transition: all 0.2s;
}

.full-form__input.error:focus {
  border: 2px solid var(--status-error, #ea5454);
  transition: all 0.2s;
  box-shadow: 0px 0px 0px 2px rgb(219, 181, 144);
}

.full-form__input.error:hover {
  border: 2px solid var(--special-light, #dbb590);
  transition: all 0.2s;
}

.popup__box-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.check {
  cursor: pointer;
  color: black;
  padding-left: 36px;
  position: relative;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.check__box {
  top: -2px;
  margin-left: -36px;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #242424;
}

.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00008 9.41421L11.543 12.9571L12.9572 11.5429L9.41429 8L12.9572 4.45711L11.543 3.04289L8.00008 6.58579L4.45718 3.04289L3.04297 4.45711L6.58586 8L3.04297 11.5429L4.45718 12.9571L8.00008 9.41421Z' fill='%23242424'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.check:hover .check__box {
  border: 2px solid #af7842;
}

.check__input:focus + .check__box {
  border: 2px solid #af7842;
}

.check__input:checked:focus + .check__box {
  border: 2px solid #af7842;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00008 9.41421L11.543 12.9571L12.9572 11.5429L9.41429 8L12.9572 4.45711L11.543 3.04289L8.00008 6.58579L4.45718 3.04289L3.04297 4.45711L6.58586 8L3.04297 11.5429L4.45718 12.9571L8.00008 9.41421Z' fill='%23242424'/%3E%3C/svg%3E") no-repeat center;
}

.check__input:disabled + .check__box {
  border: 2px solid #ffffff;
}

.check__input:checked:disabled + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00008 9.41421L11.543 12.9571L12.9572 11.5429L9.41429 8L12.9572 4.45711L11.543 3.04289L8.00008 6.58579L4.45718 3.04289L3.04297 4.45711L6.58586 8L3.04297 11.5429L4.45718 12.9571L8.00008 9.41421Z' fill='%23242424'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
}

.foggot-password {
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  text-decoration-line: underline;
}

.popup-btn-enter {
  display: flex;
  width: 360px;
  background: #000;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
  margin-bottom: 16px;
}

.popup-btn-registration {
  display: flex;
  width: 360px;
  background: #fff;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  color: var(--basic-extra-dark, #242424);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}

.main .main__information .appointment__form .full-form__name, .main .main__information .appointment__form .full-form__phone, .main .main__information .appointment__form .full-form__time, .main .main__information .appointment__form .full-form__date {
  display: flex;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.main .main__servises .servises__popular-servises .list__card .vector-4, .main .main__servises .servises__popular-servises .list__card .vector-3, .main .main__servises .servises__popular-servises .list__card .vector-2, .main .main__servises .servises__popular-servises .list__card .vector-1 {
  position: absolute;
  background-image: url('data:image/svg+xml,<svg width="246" height="2" viewBox="0 0 246 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="Vector 12" opacity="0.5" d="M0 1L246 1.00002" stroke="%23595959" stroke-width="2" stroke-dasharray="2 4"/></svg>');
  bottom: 57%;
}

html,
body {
  height: 100%;
}

body {
  background-color: #000;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 48%, rgba(48, 48, 48, 0.8) 100%) no-repeat;
}
.main .main__background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%; /* Need a specific value to work */
  filter: grayscale(100%);
  z-index: -1;
}
.main .main__greeting {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  text-align: center;
}
.main .main__greeting .greeting__logo {
  grid-area: logo;
}
.main .main__greeting .greeting__logo .logo-img {
  margin-top: 64px;
}
.main .main__greeting .greeting__labels {
  margin-top: 64px;
  display: flex;
  justify-content: space-around;
}
.main .main__greeting .label-block {
  width: 277px;
}
.main .main__greeting .label-title {
  color: #fff;
  text-align: center;
  font-family: "PT Sans Narrow";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;
}
.main .main__greeting .label-img {
  padding: 16px 0;
}
.main .main__greeting .label-paragraph {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.main .main-block-title {
  color: var(--basic-extra-dark, #242424);
  font-family: "PT Sans Narrow";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;
  padding-bottom: 28px;
}
.main .main__servises {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  height: 409px;
  margin-top: 58px;
  background-color: #fff;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.main .main__servises .servises__popular-servises {
  margin: 40px;
}
.main .main__servises .servises__popular-servises .list__card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
  position: relative;
}
.main .main__servises .servises__popular-servises .list__card p {
  color: black;
  display: block;
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
}
.main .main__servises .servises__popular-servises .list__card .card__price {
  color: #af7842;
}
.main .main__servises .servises__popular-servises .list__card .vector-1 {
  left: 177px;
  height: 2px;
  width: 165px;
}
.main .main__servises .servises__popular-servises .list__card .vector-2 {
  left: 124px;
  height: 2px;
  width: 210px;
}
.main .main__servises .servises__popular-servises .list__card .vector-3 {
  left: 78px;
  height: 2px;
  width: 262px;
}
.main .main__servises .servises__popular-servises .list__card .vector-4 {
  left: 200px;
  height: 2px;
  width: 130px;
}
.main .main__servises .servises__popular-servises .popular-servises__check-all-btn {
  display: flex;
  height: 44px;
  padding: 14px 20px;
  align-items: start;
  gap: 8px;
  flex-shrink: 0;
  background: var(--basic-black, #000);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
  margin-top: 10px;
  transition: all 0.2s;
}
.main .main__servises .servises__popular-servises .popular-servises__check-all-btn:hover {
  background-color: #814b18;
  transition: all 0.2s;
}
.main .main__servises .servises__popular-servises .popular-servises__check-all-btn:focus {
  background-color: #814b18;
  box-shadow: 0px 0px 0px 2px #dbb590;
  transition: all 0.2s;
}
.main .main__servises .servises__popular-servises .popular-servises__check-all-btn:disabled {
  background-color: #595959;
  color: rgb(231, 231, 231);
  transition: all 0.2s;
}
.main .main__servises .servises__popular-servises .popular-servises__check-all-btn:disabled:hover {
  background-color: #595959;
}
.main .main__servises .servises__gallery {
  display: inline;
  margin: 40px;
  z-index: 0;
}
.main .main__servises .servises__gallery .swiper-container {
  width: 400px;
  overflow: hidden;
  position: relative;
}
.main .main__servises .servises__gallery .gallery__img {
  max-width: 390px;
  margin-bottom: 36px;
}
.main .main__information {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  height: 431px;
  margin-top: 31px;
  background-color: #fff;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-bottom: 61px;
}
.main .main__information .information__contacts {
  margin: 40px;
}
.main .main__information .information__contacts .contacts__subtitle {
  color: var(--special-neutral, #af7842);
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
}
.main .main__information .contacts__block-1 {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 22px;
}
.main .main__information .contacts__block-1 .contacts__title {
  padding-bottom: 24px;
}
.main .main__information .contacts__block-1 .contacts__info {
  color: var(--basic-extra-dark, #242424);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.main .main__information .contacts__block-1 .contacts__phone-number {
  color: var(--basic-extra-dark, #242424);
  font-family: "PT Sans Narrow";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  text-decoration-line: underline;
  text-transform: uppercase;
}
.main .main__information .contacts__block-2 .contacts__time-of-working {
  color: var(--basic-extra-dark, #242424);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.main .main__information .contacts__block-2 .block-2__btns {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.main .main__information .contacts__block-2 .contacts__route {
  display: inline-flex;
  height: 44px;
  padding: 14px 20px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  margin-top: 21px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}
.main .main__information .contacts__block-2 .contacts__feedback {
  height: 44px;
  padding: 14px 20px;
  align-items: flex-start;
  gap: 8px;
  background-color: white;
  color: var(--basic-extra-dark, #242424);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
  transition: all 0.2s;
}
.main .main__information .contacts__block-2 .contacts__feedback:disabled {
  background-color: rgb(89, 89, 89);
  transition: all 0.2s;
}
.main .main__information .contacts__block-2 .contacts__feedback:disabled:hover {
  background-color: rgb(89, 89, 89);
}
.main .main__information .contacts__block-2 .contacts__feedback:hover {
  background-color: rgb(219, 181, 144);
  transition: all 0.2s;
}
.main .main__information .contacts__block-2 .contacts__feedback:focus {
  background-color: rgb(219, 181, 144);
  transition: all 0.2s;
  box-shadow: 0px 0px 0px 2px rgb(129, 75, 24);
}
.main .main__information .information__appointment {
  margin: 40px;
}
.main .main__information .appointment__paragraph {
  color: var(--basic-dark, #595959);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  padding-bottom: 24px;
}
.main .main__information .appointment__form .full-form__label {
  position: relative;
  display: flex;
  height: 22px;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;
  cursor: pointer;
}
.main .main__information .appointment__form .full-form__input {
  font-size: 15px;
  border: 2px solid var(--spcial-light, #000000);
  color: var(--basic-neutral, #000000);
  padding: 10px 10px;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}
.main .main__information .appointment__form .full-form__input:hover {
  border: 2px solid rgb(175, 120, 66);
  transition: all 0.2s;
}
.main .main__information .appointment__form .full-form__input:focus {
  border: 2px solid rgb(175, 120, 66);
  box-shadow: 0px 0px 0px 2px rgb(219, 181, 144);
  transition: all 0.2s;
}
.main .main__information .appointment__form .full-form__input:disabled {
  background-color: rgb(231, 231, 231);
  border: 2px solid rgb(89, 89, 89);
  transition: all 0.2s;
}
.main .main__information .appointment__form .full-form__input:disabled:hover {
  background-color: rgb(231, 231, 231);
  border: 2px solid rgb(89, 89, 89);
}
.main .main__information .appointment__form .full-form__input.error {
  border: 2px solid var(--status-error, #ea5454);
  transition: all 0.2s;
}
.main .main__information .appointment__form .full-form__input.error:focus {
  border: 2px solid var(--status-error, #ea5454);
  transition: all 0.2s;
  box-shadow: 0px 0px 0px 2px rgb(219, 181, 144);
}
.main .main__information .appointment__form .full-form__input.error:hover {
  border: 2px solid var(--special-light, #dbb590);
  transition: all 0.2s;
}
.main .main__information .appointment__form .label__text {
  color: var(--basic-extra-dark, #242424);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  text-transform: uppercase;
  cursor: text;
}
.main .main__information .appointment__form .label__img-div {
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="info"><path id="Subtract" fill-rule="evenodd" clip-rule="evenodd" d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14ZM9.27273 5.27273C9.27273 5.97564 8.70291 6.54545 8 6.54545C7.29709 6.54545 6.72727 5.97564 6.72727 5.27273C6.72727 4.56982 7.29709 4 8 4C8.70291 4 9.27273 4.56982 9.27273 5.27273ZM9.27273 7.5V11H6.72727V7.5H9.27273Z" fill="%23242424"/></g></svg>');
}
.main .main__information .appointment__form .label__img-div:hover {
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="info"><path id="Subtract" fill-rule="evenodd" clip-rule="evenodd" d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14ZM9.27273 5.27273C9.27273 5.97564 8.70291 6.54545 8 6.54545C7.29709 6.54545 6.72727 5.97564 6.72727 5.27273C6.72727 4.56982 7.29709 4 8 4C8.70291 4 9.27273 4.56982 9.27273 5.27273ZM9.27273 7.5V11H6.72727V7.5H9.27273Z" fill="%23AF7842"/></g></svg>');
}
.main .main__information .appointment__form .label__img-div::after {
  position: absolute;
  content: "Укажите желаемую дату и время и мы свяжемся с вами для подтверждения брони";
  display: none;
  width: 0;
  height: 0;
}
.main .main__information .appointment__form .label__img-div:hover::after {
  padding: 5px;
  border: 8px solid black;
  border-radius: 8px;
  text-transform: none;
  content: "Укажите желаемую дату и время и мы свяжемся с вами для подтверждения брони";
  width: 220px;
  height: auto;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  display: block;
  left: 0;
  top: -80px;
}
.main .main__information .appointment__form .top-form {
  width: 100%;
  display: inline-flex;
  align-items: flex-start;
  gap: 17px;
}
.main .main__information .appointment__form .full-form__date {
  width: 114px;
}
.main .main__information .appointment__form .full-form__time {
  width: 74px;
}
.main .main__information .appointment__form .full-form__phone {
  width: 179px;
}
.main .main__information .appointment__form .bottom-form {
  margin-top: 7px;
}
.main .main__information .appointment__form .full-form__name {
  width: 390px;
}
.main .main__information .appointment__form .full-form__subscribe {
  display: inline-flex;
  height: 44px;
  padding: 14px 20px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  margin-top: 21px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}
.main .main__information .main-btn-type-1 {
  transition: all 0.2s;
}
.main .main__information .main-btn-type-1:disabled {
  background-color: rgb(89, 89, 89);
  transition: all 0.2s;
}
.main .main__information .main-btn-type-1:disabled:hover {
  background-color: rgb(89, 89, 89);
}
.main .main__information .main-btn-type-1:hover {
  background-color: rgb(129, 75, 24);
  transition: all 0.2s;
}
.main .main__information .main-btn-type-1:focus {
  background-color: rgb(129, 75, 24);
  transition: all 0.2s;
  box-shadow: 0px 0px 0px 2px rgb(219, 181, 144);
}

.main--shop .main__catalog .setting__groups .radio__text, .main--shop .main__catalog .settings__manufacturers .check__text {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

.main--shop {
  background: rgb(246, 246, 246);
}
.main--shop .main-wrapper {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.main--shop .main-breadcrumbs {
  margin: 40px 0 22px;
}
.main--shop .main-breadcrumbs .main-breadcrumbs__title {
  color: #000;
  text-transform: uppercase;
  font-family: "PT Sans Narrow";
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  padding-bottom: 16px;
}
.main--shop .main-breadcrumbs .main-breadcrumbs__pass {
  color: #000;
}
.main--shop .main-breadcrumbs .main-breadcrumbs__pass .main-breadcrumbs__link {
  color: #000;
  text-decoration: underline;
}
.main--shop .main-breadcrumbs .main-breadcrumbs__img {
  padding: 0 8px;
}
.main--shop .main__catalog .catalog__wrapper {
  display: grid;
  grid-template-areas: "aside head" "aside body" "aside bottom";
  grid-gap: 16px;
}
.main--shop .main__catalog .catalog__settings {
  width: 225px;
  grid-area: aside;
}
.main--shop .main__catalog .settings__subtitle {
  color: #000;
  font-family: "PT Sans Narrow";
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
  padding-bottom: 22px;
}
.main--shop .main__catalog .shop-btn {
  background-color: #000;
  padding: 14px 65px;
  justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s;
}
.main--shop .main__catalog .shop-btn:disabled {
  background-color: rgb(89, 89, 89);
  transition: all 0.2s;
  cursor: default;
}
.main--shop .main__catalog .shop-btn:disabled:hover {
  background-color: rgb(89, 89, 89);
}
.main--shop .main__catalog .shop-btn:hover {
  background-color: rgb(129, 75, 24);
  transition: all 0.2s;
}
.main--shop .main__catalog .shop-btn:focus {
  background-color: rgb(129, 75, 24);
  transition: all 0.2s;
  box-shadow: 0px 0px 0px 2px rgb(219, 181, 144);
}
.main--shop .main__catalog .shop-sec-btn {
  transition: all 0.2s;
}
.main--shop .main__catalog .shop-sec-btn:disabled {
  background-color: rgb(89, 89, 89);
  transition: all 0.2s;
}
.main--shop .main__catalog .shop-sec-btn:disabled:hover {
  background-color: rgb(89, 89, 89);
}
.main--shop .main__catalog .shop-sec-btn:hover {
  background-color: rgb(219, 181, 144);
  transition: all 0.2s;
}
.main--shop .main__catalog .shop-sec-btn:focus {
  background-color: rgb(219, 181, 144);
  transition: all 0.2s;
  box-shadow: 0px 0px 0px 2px rgb(129, 75, 24);
}
.main--shop .main__catalog .settings__price .price-setting__slider {
  height: 5px;
  background-color: rgb(36, 36, 36);
  width: 220px;
  border-radius: 5px;
  position: relative;
}
.main--shop .main__catalog .settings__price .progress {
  height: 5px;
  background-color: rgb(175, 120, 66);
  border-radius: 5px;
  left: 15%;
  right: 15%;
  position: absolute;
}
.main--shop .main__catalog .settings__price .range-input {
  width: 220px;
  position: relative;
}
.main--shop .main__catalog .settings__price .range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  background: none;
  -moz-appearance: none;
       appearance: none;
  pointer-events: none;
  -webkit-appearance: none;
}
.main--shop .main__catalog .settings__price input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  background: white;
  border: 2px solid #000;
  pointer-events: auto;
  border-radius: 50%;
  -webkit-appearance: none;
}
.main--shop .main__catalog .settings__price input[type=range]::-moz-slider-thumb {
  height: 17px;
  width: 17px;
  background: white;
  border: 2px solid #000;
  pointer-events: auto;
  border-radius: 50%;
  -moz-appearance: none;
}
.main--shop .main__catalog .settings__price input[type=range]::-webkit-slider-thumb:hover {
  background-color: rgb(219, 181, 144);
}
.main--shop .main__catalog .settings__price input[type=range]::-moz-slider-thumb:hover {
  background-color: rgb(219, 181, 144);
}
.main--shop .main__catalog .settings__price input[type=range]::-webkit-slider-thumb:active {
  background-color: rgb(219, 181, 144);
  box-shadow: 0 0 0 3px #af7842;
}
.main--shop .main__catalog .settings__price input[type=range]::-moz-slider-thumb:active {
  background-color: rgb(219, 181, 144);
  box-shadow: 0 0 0 3px #af7842;
}
.main--shop .main__catalog .settings__price input[type=range]::-webkit-slider-thumb:focus {
  background-color: rgb(219, 181, 144);
  box-shadow: 0 0 0 3px #af7842;
}
.main--shop .main__catalog .settings__price input[type=range]::-moz-slider-thumb:focus {
  background-color: rgb(219, 181, 144);
  box-shadow: 0 0 0 3px #af7842;
}
.main--shop .main__catalog .settings__price .price-setting__watch {
  margin-top: 12px;
  text-align: center;
  color: #000;
}
.main--shop .main__catalog .settings__price .show-value {
  color: #000;
}
.main--shop .main__catalog .settings__manufacturers {
  margin-top: 40px;
}
.main--shop .main__catalog .settings__manufacturers .manufacturers-setting__item:first-child {
  padding-top: 0;
}
.main--shop .main__catalog .settings__manufacturers .manufacturers-setting__item {
  min-height: 22px;
  padding-top: 16px;
}
.main--shop .main__catalog .settings__manufacturers .check {
  display: flex;
  align-self: center;
}
.main--shop .main__catalog .settings__manufacturers .check__box {
  top: auto;
}
.main--shop .main__catalog .setting__groups {
  margin-top: 40px;
}
.main--shop .main__catalog .setting__groups .groups-setting__item {
  display: flex;
  padding-top: 16px;
}
.main--shop .main__catalog .setting__groups .groups-setting__item:first-child {
  padding-top: 0;
}
.main--shop .main__catalog .setting__groups .radio {
  cursor: pointer;
  padding-left: 36px;
  position: relative;
}
.main--shop .main__catalog .setting__groups .radio__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.main--shop .main__catalog .setting__groups .radio__box {
  top: -2px;
  margin-left: -36px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #242424;
}
.main--shop .main__catalog .setting__groups .radio__box::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.main--shop .main__catalog .setting__groups .radio__input:checked + .radio__box::before {
  display: block;
}
.main--shop .main__catalog .setting__groups .radio:hover .radio__box {
  border: 2px solid #af7842;
}
.main--shop .main__catalog .setting__groups .radio__input:focus + .radio__box {
  border: 2px solid #af7842;
}
.main--shop .main__catalog .setting__groups .radio__input:disabled + .radio__box {
  border: 2px solid rgb(189, 189, 189);
}
.main--shop .main__catalog .setting__groups .radio__input:checked:disabled + .radio__box {
  border: 2px solid rgb(189, 189, 189);
}
.main--shop .main__catalog .settings__apply-btn {
  margin-top: 40px;
  padding: 20px;
}
.main--shop .catalog-head {
  background-color: white;
  grid-area: head;
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 76px;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(79, 70, 60, 0.16);
}
.main--shop .catalog-head .catalog-head__select {
  width: 260px;
  height: 44px;
  border: 2px solid #000;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  padding: 10px 16px;
}
.main--shop .catalog-head .catalog-head__select:hover {
  border: 2px solid rgb(175, 120, 66);
  transition: all 0.2s;
}
.main--shop .catalog-head .catalog-head__select:focus {
  border: 2px solid rgb(175, 120, 66);
  box-shadow: 0px 0px 0px 2px rgb(219, 181, 144);
  transition: all 0.2s;
}
.main--shop .catalog-head .catalog-head__option {
  color: #000;
  font-size: 12px;
  font-weight: 700;
}
.main--shop .catalog-head .catalog-head__btns {
  display: flex;
}
.main--shop .catalog-head .catalog-head__btn {
  padding: 14px 20px;
}
.main--shop .catalog-head .catalog-first-btn {
  background-color: white;
}
.main--shop .catalog-head .catalog-second-btn {
  background-color: black;
}
.main--shop .catalog-body {
  grid-area: body;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.main--shop .catalog-body .catalog-body__card {
  background-color: white;
  text-align: center;
  box-shadow: 0px 4px 8px 0px rgba(79, 70, 60, 0.16);
}
.main--shop .catalog-body .catalog-card__img {
  background: rgb(246, 246, 246);
  padding: 16px 0;
}
.main--shop .catalog-body .catalog-card__text-block {
  margin: 16px 16px 0;
  text-align: left;
}
.main--shop .catalog-body .catalog-card__title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  margin-bottom: 8px;
}
.main--shop .catalog-body .catalog-card__cost {
  color: #814b18;
  font-family: "PT Sans Narrow";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  text-transform: uppercase;
}
.main--shop .catalog-body .catalog-card__btn {
  margin: 40px 13px 16px;
}
.main--shop .catalog-bottom {
  grid-area: bottom;
  padding-top: 8px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  max-width: 700px;
  height: 76px;
  margin-bottom: 60px;
}
.main--shop .catalog-bottom .catalog-bottom__pagination {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 8px;
}
.main--shop .catalog-bottom .catalog-bottom__pagination-btn-type-1 {
  padding: 14px 20px;
}
.main--shop .catalog-bottom .catalog-bottom__pagination-btn-type-2 {
  padding: 14px 20px;
}
.main--shop .catalog-bottom .catalog-bottom__show-more-btn {
  padding: 14px 20px;
}

.main--about-us {
  background: rgb(175, 120, 66);
}

.main-wrapper--about-us {
  background: rgb(248, 248, 248);
  box-shadow: 8px 8px 16px 5px rgba(46, 42, 37, 0.16), -8px -8px 8px 0px rgba(79, 70, 60, 0.16);
  padding: 40px 16px 40px;
  margin: 25px auto;
  width: 940px;
}

.main--about-us__logo {
  text-align: center;
  margin-top: 40px;
}

.main--about-us__title {
  color: black;
  margin-bottom: 20px;
  font-family: "PT Sans Narrow";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;
}

.title-sub-logo {
  vertical-align: text-bottom;
  margin-left: 20px;
}

.main--about-us__story-text {
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.text-first-letter {
  color: rgb(175, 120, 66);
  font-size: 20px;
  font-weight: 0;
}

.main--about-us__story-text .span-bullet {
  position: relative;
  padding-left: 20px;
}

.span-bullet img {
  position: absolute;
  left: 0;
  top: 0;
}

.main--questions {
  background: rgb(129, 75, 24);
}

.main-wrapper--questions {
  background: rgb(248, 248, 248);
  box-shadow: 8px 8px 8px 0px rgba(79, 70, 60, 0.16), -8px -8px 8px 0px rgba(79, 70, 60, 0.16);
  padding: 40px 16px 40px;
  margin: 25px auto;
  width: 940px;
}