.footer {
  width: 1020px;
  height: 242px;
  flex-shrink: 0;
  background: rgba(36, 36, 36, 1);
}
.footer__info {
}
.footer-left {
}
.footer-left__short-logo {
}
.footer-left__paragraph {
}
.footer-left__phone {
}
.footer-left__link {
}
.footer__offers {
}
.footer-middle {
}
.footer-middle__title {
}
.footer-title {
}
.footer-middle__email-form {
}
.footer__social-media {
}
.footer-right {
}
.footer-right__title {
}
.footer-right__btn {
}
.btn-sotial-media {
}
.footer-right__signature {
}
.creator {
}
