.main--questions {
  background: rgba(129, 75, 24, 1);
}
.main-wrapper--questions {
  background: rgb(248, 248, 248);
  box-shadow: 8px 8px 8px 0px rgba(79, 70, 60, 0.16),
	-8px -8px 8px 0px rgba(79, 70, 60, 0.16);
  padding: 40px 16px 40px;
  margin: 25px auto;
  width: 940px;
}