@import "_zero_style";

* {
  font-family: "PT Sans", sans-serif;
  color: white;
}
@import "_header";
@import "_footer";

.main {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 48%,
    rgba(48, 48, 48, 0.8) 100%
  );
  .main__background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 180%; /* Need a specific value to work */
    filter: grayscale(100%);
    z-index: -1;
  }

  // * Приветствие
  .main__greeting {
    width: 1024px;
    text-align: center;
    .greeting__logo {
      grid-area: logo;
      .logo-img {
        margin-top: 64px;
      }
    }
    .greeting__labels {
      margin-top: 64px;
      display: flex;
      justify-content: space-around;
    }
    .label-block {
      width: 277px;
    }
    .label-title {
      color: #fff;
      text-align: center;
      font-family: "PT Sans Narrow";
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%; /* 35.2px */
      text-transform: uppercase;
    }
    .label-img {
      padding: 16px 0;
    }
    .label-paragraph {
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
    }
  }

  // * Блок_1
  .main-block-title {
    color: var(--basic-extra-dark, #242424);
    font-family: PT Sans Narrow;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 35.2px */
    text-transform: uppercase;
    padding-bottom: 28px;
  }
  .main__servises {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    height: 409px;
    margin-top: 58px;
    background-color: #fff;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    overflow: hidden;
    // * Услуги
    .servises__popular-servises {
      margin: 40px;
      .popular-servises__list li {
        color: black;
        color: var(--basic-extra-dark, #242424);
        font-family: PT Sans Narrow;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 28px */
        text-transform: uppercase;
        padding-bottom: 22px;
      }
      .popular-servises__check-all-btn {
        display: flex;
        height: 44px;
        padding: 14px 20px;
        align-items: start;
        gap: 8px;
        flex-shrink: 0;
        background: var(--basic-black, #000);
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 16px */
        text-transform: uppercase;
        margin-top: 10px;
      }
    }

    .servises__gallery {
			display: inline;
			margin: 40px;
      .swiper-container {
				width: 400px;
				overflow: hidden;
				position: relative;
      }
      .swiper-wrapper {
      }
      .swiper-slide {
      }
      .gallery__img {
				max-width: 390px;
				margin-bottom: 36px;
      }
      .swiper-button-prev {
      }
      .swiper-button-next {
      }
      .swiper-pagination {
      }
    }
  }
  .main__information {
    .information {
    }
    .information__contacts {
    }
    .contacts {
    }
    .contacts__title {
    }
    .contacts__subtitle {
    }
    .main-block-subtitle {
    }
    .contacts__info {
    }
    .contacts__phone-number {
    }
    .contacts__time-of-working {
    }
    .contacts__route {
    }
    .contacts__feedback {
    }
    .information__appointment {
    }
    .appointment {
    }
    .appointment__title {
    }
    .appointment__paragraph {
    }
    .appointment__form {
    }
    .full-form {
    }
    .full-form__date {
    }
    .full-form__time {
    }
    .full-form__phone {
    }
    .full-form__name {
    }
    .full-form__subscribe {
    }
  }
}
